/*<!-- Written by Martin Folke 18/05/2020 -->*/

body {
  margin: auto;
  font-family: Helvetica, Verdana, sans-serif;
  color: #000000;
}

li {
  padding: 0.1em;
}

.container {
  padding: 1em;
}

section {
  margin-bottom: 7em;
}

ul {
 padding-left: 0em
}



/* Header style */
.dropdown_wrap {
  display: none;
}
.sideMenu {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
}
.sideMenu a {
  padding: 10px;
  margin-left: 6px;
  text-decoration: none;
  font_size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sideMenu .menu_close {
  font-size: 18px;
}
.menu_open {
  display: none;
  background-color:  #000000;
  color: #ffffff;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.header_wrap {
  margin: auto;
  background: #ffffff;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  box-shadow: 0 4px 2px -2px gray;
}

ul.contact_icons li {
  display: inline;
}

ul.contact_icons li.linkedin a:before {
  content: url(src/icons/linkedin.png);
}

ul.contact_icons li.email a:before {
  content: url(src/icons/email01.png);
}

.contact_wrap ul {
  float: right;
  margin-bottom: 0px;
}

.header_wrap ul {
    margin-top: 16px;
}

.contact_wrap {
  grid-column: 1 / span 4;
}

.nav_bar {
  grid-row: 2;
  grid-column: 2 / span 3;
  justify-content: center;
  display: flex;
}

.nav_bar li {
  display: inline;
}

.nav_bar a {
 font-size: 20px; 
 text-decoration: none;
 margin: 2em;
 color: #000000;
}

a:hover {
  color: #6200EE;
}

/* main style */
.main {
  margin-top: 1em;
}

.main_text {
  margin: auto;
  max-width: 700px;
}

.hero_picture {
  background-image: url("src/pictures/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
/*  width: 100vw; */
  height: 40vw;
  display: flex;
  justify-content: center;
}
.past_picture {
  background-image: url("src/pictures/past.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40vw;
  display: flex;
  justify-content: center;
}
.life_picture {
  background-image: url("src/pictures/life.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40vw;
  display: flex;
  justify-content: center;
}

.programming_icons {
  margin-top: 4em;
  margin-bottom: 4em;
}

.programming_icons li {
  display: inline;
  margin: 3.5em;
}

.programming_icons li.python a:before {
  content: url(src/icons/python01.png);
}
.programming_icons li.java a:before {
  content: url(src/icons/java02.png);
}
.programming_icons li.javascript a:before {
  content: url(src/icons/javascript04.png);
}
.programming_icons li.html a:before {
  content: url(src/icons/html502.png);
}
.programming_icons li.css a:before {
  content: url(src/icons/css02.png);
}
.programming_icons li.php a:before {
  content: url(src/icons/php01.png);
}
.programming_icons li.react a:before {
  content: url(src/icons/react02.png);
}
.programming_icons li.wireframes a:before {
  content: url(src/icons/wireframes01.png);
}

/* footer style */
footer {
  display: grid;
  grid-column: 2 / span 3;
}

/* responsive design */
@media only screen and (max-width: 330px) {
  .programming_icons li {
	margin: 2.5em;
  }
}
@media only screen and (max-width: 620px) {
  .nav_bar {
	display: none;
  }
  
  .menu_open {
    display: block;
	grid-column: 1;
	grid-row: 1;
  }
  
  .header_wrap ul {
    margin-top: 5px;
  }
  
  .contact_wrap {
    grid-column: 1 / span 5;
    grid-row: 1;
	margin-right: 5px;
  }
}